body {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: 'noto sans',sans-serif;
    color: #222222;
}
/*Reutilizables*/
.btn-verde{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-family: 'montserrat',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #e98503;
    padding: 1rem 2rem;
    display: inline-block;
    align-self: center;
}
.frase {
    text-align: center;
}
/*Termina Reutilizables*/

/*Comienza Primera seccion*/
hr{
    width: 80%;
    border-color: white;
}
#primera-seccion {
    background: linear-gradient(rgba(68,13,13,0.35),rgba(38,2,2,0.446)),url(fondo-1.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}
#barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}
nav > a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}
nav > a:hover {
    color: #20bf6b;
}
#primera-seccionn-contenido {
    text-align: center;
    text-align: justify;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
   
}

#primera-seccionn-contenido>p {
    text-transform: capitalize;
    font-family: 'montserrat',sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;

}

#primera-seccionn-contenido>h1 {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
/*Termina Primera seccion*/
/*imagenes teatro*/
.img-1{
    width: 100%;
    height: 250;
}
.img-2{
    width: 100%;
    height: 250;
}

/*Comienza segunda seccion*/
#Segunda-seccion {
    background-color: #f4f5f9;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}
#Frase {
    background-color: #f4f5f9;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

}
/*Termina segunda seccion*/

/*Comienza tercera seccion*/
#Tercera-seccion {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#Titulo {
  margin-bottom: 2rem;  
}
#Titulo>h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}
.titulo>hr{
    width: 4.5rem;
    border-color: black;
    background-color: #e98503;
}
#Container-tercera-seccion{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #e98503;
    height: 100%;
    width: 100%;
}

.img-tercera>{
    text-align: center;
    font-family: 'montserrat',sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


.img-tercera>p{
    margin-bottom: 2rem;
}

.img-tercera>img{
    max-width: max-content;
}
/*Termina tercera seccion*/

/*Comienza cuarta seccion*/
#cuarta-seccion{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.905)),url(img-4.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
  
}
#Contenedor{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.mitad{
    width: 50%;
}
#cuarta.seccion-der>h3 {
    text-transform: uppercase;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#cuarta.seccion-der>hr {
    width: 4.5rem;
    border-color: white;
    margin-left: 0;
    margin-bottom: 3rem;
}
#cuarta.seccion-der>p {
    margin-bottom: 4rem;
}
/*Termina cuarta seccion*/

/*Comienza Quinta seccion*/
#quinta-secciom{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#quinta-seccion.izquierda{
    flex: 1;
}
#quinta-seccion.izquierda>h3 {
    text-transform: uppercase;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#quinta-seccion.izquierda>p {
    margin-bottom: 4rem;
}
#quinta-secciom-derecha{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 10px;
    justify-items: center;
    align-items: center;
}
#quinta-secciom-derecha>img{
    max-width: 80%;
}
#quinta-secciom-derecha>hr{
    width: 50%;
    border-color: white;
    margin-left: 4;
    margin-bottom: 7rem;
}
/*Termina quinta seccion*/
.Ubicacion{
    background-color: black;
    padding: auto;
    width: 25px;
    margin-top: auto;
    margin-bottom: 25px;
    background-size: cover;
}
 
/*Mapa*/
.mapa{
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    
}
 /*Termina Mapa/
 

/*footer*/
footer{
    background-color: black;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*termina footer*/
.primera_contactos {
    background: linear-gradient(rgba(68,13,13,0.35),rgba(38,2,2,0.446)),url(robotica-1.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}




